@import '../../styles/variables.scss';

.footer {
  padding: 60px 0 30px;
  border-top: 2px solid $color__gold;
  .footer__content {
    .footer__box {
      flex: 1;
      h4 {
        font-size: $ft__24;
        font-weight: $ft__w__m;
        color: $color__gold;
        column-gap: 6px;
        margin-bottom: 14px;
        svg {
          font-size: 20px;
        }
      }
      a,
      p {
        font-size: $ft__16;
        margin-bottom: 4px;
        color: $color__white__gold;
        max-width: 400px;
      }
    }
  }
  .footer__links {
    width: 350px;
    max-width: 100%;
    margin: 40px auto;
    font-size: $ft__24;
    a {
      transition: $transition;
      &:hover {
        color: $color__gold;
      }
    }
  }
  .location__btn {
    border: 1px solid;
    transition: $transition;
    width: fit-content;
    padding: 6px 10px;
    margin-top: 4px;
    border-radius: 4px;
    font-weight: 500;
    &:hover {
      color: #0c0b10 !important;
      background-color: $color__gold;
    }
  }
  .google__map__location {
    width: 100%;
  }
}

@media(max-width: 575px) {
  .footer {
    .footer__content {
      flex-direction: column;
      align-items: center !important;
      row-gap: 20px;
      .footer__box {
        align-items: center !important;
        p {
          text-align: center;
          max-width: auto;
        }
      }
    }
    
  }
}